:root {
  --primary-theme: #101160;
  --secondry-theme: #38b6ff;
  --default-color: #fff;
  --black: #000000;
  --dark-blue: #13182f;
  --light-blue: #ebf8ff;
  --light-gray: #aeaeae;
  --yellow: #ffc700;
  --gradiant: linear-gradient(90deg, #38b6ff 11.17%, #101160 66.25%);
  --primary-font: "Karla", sans-serif;
  --text-1: 0.1rem;
  --text-2: 0.2rem;
  --text-3: 0.3rem;
  --text-4: 0.4rem;
  --text-5: 0.5rem;
  --text-6: 0.6rem;
  --text-7: 0.7rem;
  --text-8: 0.8rem;
  --text-9: 0.9rem;
  --text-10: 1rem;
  --text-11: 1.1rem;
  --text-12: 1.2rem;
  --text-13: 1.3rem;
  --text-14: 1.4rem;
  --text-15: 1.5rem;
  --text-16: 1.6rem;
  --text-17: 1.7rem;
  --text-18: 1.8rem;
  --text-19: 1.9rem;
  --text-20: 2rem;
  --text-21: 2.1rem;
  --text-22: 2.2rem;
  --text-23: 2.3rem;
  --text-24: 2.4rem;
  --text-25: 2.5rem;
  --text-26: 2.6rem;
  --text-27: 2.7rem;
  --text-28: 2.8rem;
  --text-29: 2.9rem;
  --text-30: 3rem;
  --text-31: 3.1rem;
  --text-32: 3.2rem;
  --text-33: 3.3rem;
  --text-34: 3.4rem;
  --text-35: 3.5rem;
  --text-36: 3.6rem;
  --text-37: 3.7rem;
  --text-38: 3.8rem;
  --text-39: 3.9rem;
  --text-40: 4rem;
  --text-41: 4.1rem;
  --text-42: 4.2rem;
  --text-43: 4.3rem;
  --text-44: 4.4rem;
  --text-45: 4.5rem;
  --text-46: 4.6rem;
  --text-47: 4.7rem;
  --text-48: 4.8rem;
  --text-49: 4.9rem;
  --text-50: 5rem;
  --text-51: 5.1rem;
  --text-52: 5.2rem;
  --text-53: 5.3rem;
  --text-54: 5.4rem;
  --text-55: 5.5rem;
  --text-56: 5.6rem;
  --text-57: 5.7rem;
  --text-58: 5.8rem;
  --text-59: 5.9rem;
  --text-60: 6rem;
  --text-61: 6.1rem;
  --text-62: 6.2rem;
  --text-63: 6.3rem;
  --text-64: 6.4rem;
  --text-65: 6.5rem;
  --text-66: 6.6rem;
  --text-67: 6.7rem;
  --text-68: 6.8rem;
  --text-69: 6.9rem;
  --text-70: 7rem;
  --text-71: 7.1rem;
  --text-72: 7.2rem;
  --text-73: 7.3rem;
  --text-74: 7.4rem;
  --text-75: 7.5rem;
  --text-76: 7.6rem;
  --text-77: 7.7rem;
  --text-78: 7.8rem;
  --text-79: 7.9rem;
  --text-80: 8rem;
  --text-81: 8.1rem;
  --text-82: 8.2rem;
  --text-83: 8.3rem;
  --text-84: 8.4rem;
  --text-85: 8.5rem;
  --text-86: 8.6rem;
  --text-87: 8.7rem;
  --text-88: 8.8rem;
  --text-89: 8.9rem;
  --text-90: 9rem;
  --text-91: 9.1rem;
  --text-92: 9.2rem;
  --text-93: 9.3rem;
  --text-94: 9.4rem;
  --text-95: 9.5rem;
  --text-96: 9.6rem;
  --text-97: 9.7rem;
  --text-98: 9.8rem;
  --text-99: 9.9rem;
  --text-100: 10rem;
  --text-101: 10.1rem;
  --text-102: 10.2rem;
  --text-103: 10.3rem;
  --text-104: 10.4rem;
  --text-105: 10.5rem;
  --text-106: 10.6rem;
  --text-107: 10.7rem;
  --text-108: 10.8rem;
  --text-109: 10.9rem;
  --text-110: 11rem;
  --text-111: 11.1rem;
  --text-112: 11.2rem;
  --text-113: 11.3rem;
  --text-114: 11.4rem;
  --text-115: 11.5rem;
  --text-116: 11.6rem;
  --text-117: 11.7rem;
  --text-118: 11.8rem;
  --text-119: 11.9rem;
  --text-120: 12rem;
  --text-121: 12.1rem;
  --text-122: 12.2rem;
  --text-123: 12.3rem;
  --text-124: 12.4rem;
  --text-125: 12.5rem;
  --text-126: 12.6rem;
  --text-127: 12.7rem;
  --text-128: 12.8rem;
  --text-129: 12.9rem;
  --text-130: 13rem;
  --text-131: 13.1rem;
  --text-132: 13.2rem;
  --text-133: 13.3rem;
  --text-134: 13.4rem;
  --text-135: 13.5rem;
  --text-136: 13.6rem;
  --text-137: 13.7rem;
  --text-138: 13.8rem;
  --text-139: 13.9rem;
  --text-140: 14rem;
  --text-141: 14.1rem;
  --text-142: 14.2rem;
  --text-143: 14.3rem;
  --text-144: 14.4rem;
  --text-145: 14.5rem;
  --text-146: 14.6rem;
  --text-147: 14.7rem;
  --text-148: 14.8rem;
  --text-149: 14.9rem;
  --text-150: 15rem;
  --shadow-normal: 1px 1px 11px 0px rgb(105 105 177 / 20%);
  font-size: 62.5%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--secondry-theme);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-theme);
}

html {
  overflow-x: hidden;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: var(--primary-font);
  scroll-behavior: smooth;
  font-size: var(--text-16);
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--primary-theme);
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

.row {
  --bs-gutter-x: 3rem;
}

/* global styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

.container-fluid {
  padding: 0 6.5rem;
}

.secondry-btn {
  background-color: var(--primary-theme);
  color: #101160 !important;
}

.primary-btn {
  background-color: var(--secondry-theme);
}

.btn1 {
  padding: 1.7rem 3.7rem 1.7rem 2.5rem;
  border-radius: 6rem;
  color: var(--default-color);
  border: none;
  font-weight: 700;
  font-size: var(--text-16);
}

.sm-dot-2,
.sm-dot-1 {
  background-color: var(--primary-theme);
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  margin-left: 2rem;
}

.sm-dot-2 {
  background-color: var(--secondry-theme);
}

/* global styles end */
/* topbar */
.topbar {
  background: var(--gradiant);
}

.topbar .container-fluid {
  padding: 0 5.5rem;
}

/* topbar */
/* header */
/* header end */
/*-------------- saqib styling start --------------*/
/* hero-banner */
.banner-content {
  padding-top: 33.6rem;
}

.sec-title {
  color: var(--secondry-theme);
  font-size: var(--text-26);
  font-weight: 500;
  margin-bottom: 12px;
}

.sec-heading {
  font-size: var(--text-45);
  color: var(--black);
  font-weight: 500;
  margin-bottom: 13px;
  letter-spacing: -3px;
}

.sec-para {
  font-size: var(--text-17);
  color: var(--black);
  font-weight: 300;
  line-height: 26px;
}

.number-box h5 {
  font-size: var(--text-75);
}

.hero-banner {
  background-image: url(../images/banner-img1.png);
}

.tutoring-banner {
  background-image: url(../images/tutoring/tutoring-banner.png);
}

.testimonial-banner {
  background-image: url(../images/testimonial/image-1.png);
}

.contact-us-banner {
  background-image: url(../images/contact-us/img-1.png);
}

.blog-banner,
.we-help-banner,
.what-we-do-detail-banner {
  background-image: url(../images/blogs/img-1.png);
}

.appointment-banner {
  background-image: url(../images/book-appointment/img-1.png);
}

.banner-props {
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-heading {
  color: var(--default-color);
  font-size: var(--text-80);
  font-weight: 700;
  letter-spacing: -7px;
}

.navigation-sec {
  border-bottom: 1px solid #cecece;
  box-shadow: 0px 4px 34px 20px rgba(0, 0, 0, 0.19);
}

.help-box {
  border-radius: 30px;
  border: 1px solid #c3c4d7;
}

.help-box h6 {
  color: var(--secondry-theme);
  font-size: var(--text-20);
  margin-bottom: 34px;
  font-weight: 800;
}

.help-box h3 {
  font-size: var(--text-36);
  color: var(--black);
  font-weight: 500;
  margin-bottom: 17px;
  letter-spacing: -2px;
}

.help-box p {
  font-weight: 300;
  letter-spacing: -1px;
  font-size: var(--text-22);
  color: var(--black);
}

/* hero-banner end*/
/* we help start */

.image-box,
.image-box1,
.image-box2,
.image-box3,
.image-box4,
.image-box5,
.image-box6 {
  background-image: linear-gradient(to bottom,
      rgb(0 0 0 / 0%),
      rgb(0 0 0 / 23%)),
    url(../images/box-image-1.png);
  min-height: 38rem;
  max-width: 57rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.image-box2 {
  background-image: linear-gradient(to bottom,
      rgb(0 0 0 / 0%),
      rgb(0 0 0 / 23%)),
    url(../images/box-image-2.png);
}

.image-box3 {
  background-image: linear-gradient(to bottom,
      rgb(0 0 0 / 0%),
      rgb(0 0 0 / 23%)),
    url(../images/box-image-3.png);
}

.image-box4 {
  background-image: linear-gradient(to bottom,
      rgb(0 0 0 / 0%),
      rgb(0 0 0 / 23%)),
    url(../images/box-image-4.png);
}

.image-box5 {
  background-image: linear-gradient(to bottom,
      rgb(0 0 0 / 0%),
      rgb(0 0 0 / 23%)),
    url(../images/box-image-5.png);
}

.image-box6 {
  background-image: linear-gradient(to bottom,
      rgb(0 0 0 / 0%),
      rgb(0 0 0 / 23%)),
    url(../images/box-image-6.png);
}

.image-box-v2-1 {
  background-image: linear-gradient(to bottom,
      rgb(0 0 0 / 0%),
      rgb(0 0 0 / 23%)), url(../images/blogs/blog-img-1.png);
}
.image-box-v2-2 {
  background-image: linear-gradient(to bottom,
      rgb(0 0 0 / 0%),
      rgb(0 0 0 / 23%)), url(../images/blogs/blog-img-2.png);
}
.image-box-v2-3 {
  background-image: linear-gradient(to bottom,
      rgb(0 0 0 / 0%),
      rgb(0 0 0 / 23%)), url(../images/blogs/blog-img-3.png);
}
.image-box-v2-4 {
  background-image: linear-gradient(to bottom,
      rgb(0 0 0 / 0%),
      rgb(0 0 0 / 23%)), url(../images/blogs/blog-img-4.png);
}
.image-box-v2-5 {
  background-image: linear-gradient(to bottom,
      rgb(0 0 0 / 0%),
      rgb(0 0 0 / 23%)), url(../images/blogs/blog-img-5.png);
}
.image-box-v2-6 {
  background-image: linear-gradient(to bottom,
      rgb(0 0 0 / 0%),
      rgb(0 0 0 / 23%)), url(../images/blogs/blog-img-6.png);
}
.help-img1 {
  background-image: linear-gradient(to bottom,
      rgb(0 0 0 / 0%),
      rgb(0 0 0 / 23%)), url(../images/who-we-help/help-img-1.png);
}
.help-img2 {
  background-image: linear-gradient(to bottom,
      rgb(0 0 0 / 0%),
      rgb(0 0 0 / 23%)), url(../images/who-we-help/help-img-2.png);
}.help-img3 {
  background-image: linear-gradient(to bottom,
      rgb(0 0 0 / 0%),
      rgb(0 0 0 / 23%)), url(../images/who-we-help/help-img-3.png);
}
.img-box-desc {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

/* we help end */
/* tutor start */
.tutor-img {
  height: 250px;
  width: 250px;
  border-radius: 1000px;
}

.tutor-box {
  width: 90%;
}

.star-img {
  width: 95px;
}

.tutor-title {
  font-size: var(--text-26);
  color: var(--primary-theme);
}

.tutor-title2 {
  font-size: 20px;
  color: var(--secondry-theme);
}

.tutor-box span {
  font-size: var(--text-12);
  color: var(--light-gray);
  padding: 7px 14px 7px 14px;
  border: 1px solid var(--light-gray);
}

/* tutor end */
/* contact start */
.contact-form label {
  font-size: var(--text-16);
  color: var(--light-gray);
  margin-bottom: 8px;
  font-weight: 400;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
  padding: 10px 25px;
  border: 1px solid var(--light-gray);
  font-size: var(--text-18);
  color: var(--black);
  resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-size: var(--text-18);
  font-weight: 500;
  color: var(--light-gray);
}

.contact-form .form-control:focus,
.contact-form textarea:focus,
.contact-form select:focus {
  border-color: var(--secondry-theme) !important;
  outline: 0;
  box-shadow: none;
  border: 1px solid;
}

.contact-form .contact-input:focus~#form-i {
  color: var(--secondry-theme) !important;
}

/* contact end */

/* footer  */
.border-bottom-1 {
  border-bottom: 1px solid var(--default-color);
}

/* footer end */

.lang-box h4 {
  font-size: var(--text-36);
  font-weight: 700;
  color: var(--primary-theme);
  margin-bottom: 18px;
}

.lang-box-1 {
  border-right: 1px solid var(--secondry-theme);
}

.appointment-form input,
.appointment-form select {
  background-color: transparent !important;
}

.address-list {
  margin-bottom: 50px;
}

.address-list a {
  font-size: var(--text-19);
  font-weight: 300;
  color: var(--primary-theme);
  display: flex;
  align-items: center;
  gap: var(--text-10);

}

.address-list i {
  background-color: var(--secondry-theme);
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: var(--default-color);
}

.h-custom {
  min-height: 1005px;
}

.specific1 {
  border-radius: 30px;
  border-bottom: 1px solid #dee2e6;
}

.specific2 {
  border-radius: 0px 0px 30px 30px;
}

.price-box {
  height: 100%;
}

.price-box h2,
.policy h2 {
  color: var(--primary-theme);
  font-size: var(--text-36);
  font-weight: 700;
}

.price-box p {
  font-size: var(--text-20);
  max-width: 265px;
  color: var(--black);
  font-weight: 400;
  margin-bottom: 0;
}

.price-box h5 {
  font-size: var(--text-18);
  font-weight: 800;
  color: #2f323d;
}

.frame {
  height: 90px;
  width: 90px;
  background-color: var(--secondry-theme);
}

/*-------------- saqib styling end --------------*/

/*-------------- arsalan styling start --------------*/
.who-wr-are-banner {
  background-image: url(../images/who-we-are-banner-bg.png);
}

.who-wr-are-banner .banner-content {
  padding: 38.5rem 0 16.5rem 0;
}

/* .card-md-img-wrap {
  width: 10rem;
  height: 10rem;
} */
.card-md-img-wrap .card-md-img {
  border-radius: 100%;
  background-color: var(--light-blue);
  max-width: 8rem;
}

/* testimonals-sec start */
.testimonials-sec {
  background-color: #f7f7f7;
}

.border-gray {
  border: 1px solid #d5dff0;
}

.testimonials-slider .slick-slide {
  margin-right: 15px;
}

.sec-heading.mb-66 {
  margin-bottom: var(--text-66);
}

/* .testimonials-sec .slick-prev::before,
.testimonials-sec .slick-next::before,
.tutor-sec .slick-prev::before,
.tutor-sec .slick-next::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-image: url(../images/left-arrow.png);
  background-size: contain;
}
.testimonials-sec .slick-next::before,
.tutor-sec .slick-next::before {
  background-image: url(../images/right-arrow.png) !important;
}
.testimonials-sec .slick-next,
.testimonials-sec .slick-prev,
.tutor-sec .slick-next,
.tutor-sec .slick-prev {
  top: unset !important;
  bottom: -60px !important;
}
.testimonials-sec .slick-next,
.tutor-sec .slick-next {
  right: 47%;
}
.testimonials-sec .slick-prev,
.tutor-sec .slick-prev {
  left: 47%;
}
.testimonials-sec .slick-next:before,
.testimonials-sec .slick-prev:before,
.tutor-sec .slick-next:before,
.tutor-sec .slick-prev:before {
  height: 39px;
  width: 39px;
} */
.arrow-right-wrap img,
.arrow-left-wrap img {
  cursor: pointer;
  max-width: 5.3rem;
}

/* testimonals-sec end*/
.our-clinics .sec-heading {
  margin-bottom: var(--text-80);
}

.find-hh-banner {
  background-image: url(../images/tutoring/tutoring-banner.png);
}

.f-hh-sec-2 .sec-heading {
  margin-bottom: var(--text-40);
}

.filters-wrap {
  border: 1px solid #e2e4e7;
}

.border-bottom-gray {
  border-bottom: 1px solid #bbbdc4;
}

.location-input {
  padding-left: var(--text-44) !important;
}

.location-icon i {
  left: var(--text-20);
  top: var(--text-18);
  position: absolute;
}

.form-check-input:checked {
  background-color: var(--secondry-theme);
  border-color: transparent;
}

.form-check-input {
  border-color: var(--black);
}

.form-check-input:focus {
  box-shadow: none;
}

.text-white {
  color: var(--default-color) !important;
}

.contact-input.search-input {
  padding: 1.5rem 4rem;
}

.location-icon.search-icon i {
  top: var(--text-22);
}

.filter-collepse-body .text-secondry-theme {
  cursor: pointer;
}

.close-icon i,
.menu-icon i {
  font-size: 2rem;
  display: none;
}

.main-tutoring .container-fluid {
  padding: 0 4rem;
}

.tutoring-details-sec-cont {
  max-width: 84.2rem;
}

/*-------------- arsalan styling end --------------*/

@media (max-width: 1440px) {
  :root {
    font-size: 58%;
  }

  .footer-cta {
    font-size: var(--text-70) !important;
  }

  .footer-right {
    max-width: 320px;
  }

  .testimonials-slider .text-primary-theme {
    font-size: var(--text-24);
  }
}

@media (max-width: 1366px) {
  :root {
    font-size: 56%;
  }

  .who-we-are-sec-3 h2 {
    font-size: var(--text-45);
  }

}

@media (max-width: 1280px) {
  :root {
    font-size: 56%;
  }

  .testimonials-slider .text-primary-theme {
    min-height: var(--text-55);
  }

  .main-tutoring .container-fluid {
    padding: 0 2rem;
  }
}

@media (max-width: 1200px) {
  .main-tutoring .container-fluid {
    padding: 0 3rem;
  }

  .main-tutoring .tutoring-sec .col-md-4 {
    padding: 0;
  }
}

@media (max-width: 1024px) {
  .container-fluid {
    padding: 0 1.5rem;
  }

  .topbar-para span {
    font-size: var(--text-15);
  }
}

@media (max-width: 992px) {
  :root {
    font-size: 46%;
  }

  .btn1 {
    padding: 1.7rem 2rem;
  }

  .who-wr-are-banner .banner-content,
  .banner-content {
    padding-top: 15rem;
  }

  .nav-links .gap-50 {
    gap: var(--text-15);
  }

  .nav-links li a {
    font-size: var(--text-16);
  }

  /* <---------mobile menu----------> */
  .close-icon i,
  .menu-icon i {
    display: block;
    z-index: 2;
    background: var(--secondry-theme);
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    /* position: absolute;
    top: 38px;
    right: 10px; */
    border-radius: 2px;
  }

  .close-icon i {
    position: absolute;
    top: 2rem;
    right: 2rem;
    border-radius: 100%;
  }

  .primary-navs {
    transform: translateX(-100%);
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all ease-in-out 1s;
    padding: 4.4rem 0;
  }

  .primary-navs.active {
    transform: translateX(0);
    background-color: #fff;
    width: 70%;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    overflow: auto;
    height: 100%;
  }

  .menu-cont {
    gap: var(--text-20);
    height: calc(100vh - 100px);
  }

  .footer-cta {
    font-size: 42px !important;
    margin-bottom: 10px;
  }

  .hero-banner .banner-content {
    min-height: 100vh;
  }

  .banner-content {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center !important;
    margin: auto;
    padding: 0 !important;
  }

  .banner-props {
    background-position: center;
    padding: 0 !important;
  }

  .w-md-100 {
    width: 100% !important;
  }

  .tutoring-details-sec-cont {
    margin: 0 auto;
  }
}

@media (max-width: 991px) {
  .image-box {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  :root {
    font-size: 46%;
  }

  .sec-heading br,
  .banner-heading br {
    display: none;
  }

  .banner-heading {
    font-size: var(--text-40);
    letter-spacing: unset;
  }

  .mb-md-20 {
    margin-bottom: 20px;
  }

  .mt-md-20 {
    margin-top: 20px;
  }

  .mb-md-10 {
    margin-bottom: 10px;
  }

  .mt-md-10 {
    margin-top: 10px;
  }

  .logo {
    max-width: 250px;
  }

  section {
    padding: var(--text-70) 0 !important;
  }

  .banner-content {
    min-height: 50vh;
    max-width: 60rem;
  }
}

@media (max-width: 575px) {
  .max-sm-wd {
    max-width: 48.4rem;
    margin: 0 auto;
  }

  .main-tutoring .tutor-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .address-list {
    gap: 16px;
    flex-direction: column;
  }

  .top-bar-right-login-signup {
    background: transparent;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 480px) {
  .tutoring-details-sec-cont {
    justify-content: center !important;
    text-align: center;
  }
}

@media (max-width: 400px) {

  .topbar .container-fluid {
    padding: 0;
  }

}